* {
	font-family: "Pixelify Sans", sans-serif;
}

header {
	position: sticky; top: 0px;
	height: 80px;
	background: #222;
	color: #fff;
	z-index: 1;
}
#header {
	margin: 25px;
	position: absolute;
	left: 90%;
	/*color: #5BD7A4;*/
}

#server {
	margin: 0 auto;
	width: 170px;
	position: relative;
	top: 70px;
}
#icon {
	border: 1px solid #000;
	width: 170px;
	height: 170px;
}
#player-online {
	border: 1px solid #000;
	padding: 3px;
	margin: 5px;
}
#player-online span {
  white-space: pre-line;
}
#motd{
	font-family: serif, sans-serif;
	width: 400px;
	text-align: center;

	background: #000;
	padding: 1px;
	margin: 0 auto;
	border: 1px solid #000;
	transform: translateX(-28%);
}

body {
	margin: 0;
	background: #444444;
}
#toggle-dark-mode {
	width: 41px;
	transform: translateY(-40%);
}
.dark-mode > * {
	background-color: #fff;
}